QFrame
{
    background-color: #FFFFFF;
    border: none;
    font-family:  "Titillium Web";
}

QWidget
{
    background-color: #FFFFFF;
    border: none;
    font-family:  "Titillium Web";
}

QToolBox
{
    border: none;
    font-family:  "Titillium Web";
    font-size: 15px;
}

QPushButton
{
    position: relative;
    padding: 7px 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    font: 75 13pt "Titillium Web";

    color: #e0e0e0;
    white-space: nowrap;
    background-color: #212121;

    border: none;

    vertical-align: middle;
    text-align: left;
}

QPushButton:hover
{
    background-color: #2c92ff;/*#f44336; red/*#424242 smoke Black*/
    border: none;
    font: 75 13pt "Titillium Web";
    font-weight: bold;
    color: #ffffff;
}


QToolBox::tab
{
    background-color: White;
    color: Black;
    border: none;
}

QToolBox::tab:selected
{
    background-color:lightgray;
    /*font-size: italic;*/
    color: Black;
}

/**************** Scroll Bar ******************/
QScrollBar:horizontal {
      border: none;
      background: cyan;
      height: 15px;
      margin: 0px 40px 0 0px;
  }

  QScrollBar::handle:horizontal {
      background: gray;
      min-width: 20px;
      border:none;
  }

  QScrollBar::add-line:horizontal {
      background: blue;
      width: 16px;
      subcontrol-position: right;
      subcontrol-origin: margin;
      border: 0px solid black;
  }

  QScrollBar::sub-line:horizontal {
      background: magenta;
      width: 16px;
      subcontrol-position: top right;
      subcontrol-origin: margin;
      border: 0px solid black;
      position: absolute;
      right: 20px;
  }

  QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
      width: 3px;
      height: 3px;
      background: pink;
  }

  QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
      background: none;
  }
/****************** Tool Buttons ****************/
QToolButton { /* all types of tool button */
     border: 2px solid #8f8f91;
     border-radius: 6px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #f6f7fa, stop: 1 #dadbde);
 }

 QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
     padding-right: 20px; /* make way for the popup button */
 }

 QToolButton:pressed {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #dadbde, stop: 1 #f6f7fa);
 }

 /* the subcontrols below are used only in the MenuButtonPopup mode */
 QToolButton::menu-button {
     border: 2px solid gray;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     /* 16px width + 4px for border = 20px allocated above */
     width: 16px;
 }

 QToolButton::menu-arrow {
     image: url(downarrow.png);
 }

 QToolButton::menu-arrow:open {
     top: 1px; left: 1px; /* shift it a bit */
 }
