QFrame
{
    background-color:White;
}
QFrame>QComboBox
{
    border: none;

    padding-top:    8px;
    padding-bottom: 8px;
    padding-left:  24px;
    padding-right:  0px;

    border-bottom :  1px solid #FFFFFF;
    font-size     :  14pt;

    height        :  32px;
}

QFrame>QComboBox:hover
{
    border-bottom: 1px solid blue;
}

QFrame>QComboBox:editable
{
    background: white;
}

QFrame>QComboBox:!editable, QFrame>QComboBox::drop-down:editable
{
    background-color: White;
    color           : Gray;
    border:none;
}

/* QFrame>QComboBox gets the "on" state when the popup is open */
QFrame>QComboBox:!editable:on,
QFrame>QComboBox::drop-down:editable:on {
    background-color: White;
    border: none;
}

QFrame>QComboBox:on
{ /* shift the text when the popup opens */
    color:#212121;
    border:none;
}

QFrame>QComboBox::drop-down
{
   /* subcontrol-origin: padding;
    subcontrol-position: top right;*/

    width: 15px;


    height:36px;

    border:none;
}

QFrame>QComboBox::down-arrow
{
    image: url(:/b/icons/b/ic_arrow_drop_down_2x.png);
    max-width:36px;
    max-height:36px;
}

QFrame>QComboBox::down-arrow:on
{ /* shift the arrow when popup is open */
    border:none;
}

/**** List View => ComboBox *******/
/*QListView
{
    border          : none;
    background-color: red;

    color           : #070707;
    padding-top     : 8px;
    padding-bottom  : 8px;
    padding-left    : 0px;
    height          : 32px;
    font-size       : 15px;

    selection-background-color: #DADADA;
    selection-color           : #262626;
}

QItemView:hover
{
    border: none;
}

QItemView
{
    border       :none;
    height       :32px;
    font-size    :15px;
    color        :#F9F9F9;

}

QListView:hover,
QListView:focus
{
    border:none;
    background-color:White;
    padding-left:24px;
}

QItemView:selected
{
    border:none;
    background-color          : Green;
}*/

/*QListView {
  show-decoration-selected: 5;
}
*/

/*************** QAbstractItemView **********/

QAbstractItemView {
     border: none;
     height: 32px;
     padding-bottom: 8px;
     padding-top: 8px;
     selection-background-color: lightgray;
     color: #212121;
}

QAbstractItemView:pressed,  QAbstractItemView:Hover{
     border: none;
     selection-background-color: darkgray;
     color:black;
}

/************  MDLineEdit Style *******************/
#MDLineEdit
{
    background-color: #FFFFFF;
}

#mhelper
{
    padding-top: 8 dp;
    color: #c7c7c7;
    font: calibri 10pt;
}

#mleftButton
{
    padding-right:16 dp;
}

#mlineEdit
{
    border:none;
    font: calibri 14pt;
    font: 75 14pt "Calibri";
    padding-bottom: 8 dp;
}

#mline
{
    border:2px solid #c7c7c7;
}

#mlabel
{
    font: calibri 14pt;
    padding-top: 16 dp;
    padding-bottom: 8 dp;
    color:#c7c7c7;
}


/**************** Testing ********************/
