
QMainWindow
{
    background-color: rgb(255, 255, 255);
    border: none;
}

QFrame{
    background-color: rgb(200, 200, 200);
    border: none;
}

QWidget
{
    background-color: rgb(255, 255, 255);
    font-family: 'Titillium Web';
}


/*********************************************************************/
QLineEdit, QLineEdit:hover {
    border: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #B89E97;
    background-color:rgba(0,0,0,0);
    color : #464545;
}

QLineEdit:editable{
    border: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #B89E97;
    font-size: 17px;
}

QLineEdit:disabled{
    border: 0px solid white;
    padding-bottom: 2px;
    border-bottom: 2px solid #B89E97;
}

QLineEdit:focus{
    border: 0px solid white;
    padding-bottom: 2px;
    border-bottom: 2px solid #1098F7;
    color : #464545;

}
QLineEdit:pressed {
    border: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #1098F7;
}
/*********************************************************************/
QLabel
{
    background-color: rgb(255, 255, 255);
    color:Black;
    font-size: 18px;
/*    font: italic 11pt "Calibri";*/
}

QLabel:hover
{
    background-color: rgb(255, 255, 255);
    color:#212121;
/*    font: italic 13pt "Calibri";*/
    font-weight: bold;
}
/*************************************************************/
QPushButton, QPushButton:focus, QPushButton:focus {
  background-color: #1098F7;
  border: none;
  color: white;
  padding: 3px 20px;
}


QPushButton:hover, QPushButton:hover:focus {
  background-color: #1098F7;
  border-color: #ffffff;
}


/***************************************************************/

/***************************************************************/
QComboBox {
    border: 1px solid #B89E97;
    border-bottom: 2px solid #B89E97;
    border-radius: 0px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}


QComboBox:editable {
    background:#E1E1E1  ;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    color:black;
     background: white;  /*qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);*/
}


/* QComboBox gets the "on" state when the popup is open */
/*QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}
*/
QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 1px;
    border-left-color: #B89E97;
    border-left-style: solid; /* just a single line */

}

QComboBox::down-arrow {
    image: url(/usr/share/icons/Paper/16x16/actions/pan-down.svg);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}
QComboBox QAbstractItemView {
    background: #1098F7;
    border: 2px solid #1098F7;
    selection-background-color: #1098F7;
}
/***********************************************************************/
QHeaderView::section {
    background-color: #B89E97;
    color: white;
    padding-left: 4px;
    border: 1px solid white;
}

QHeaderView::section:checked
{
    background-color: #1098F7;
}

/* style the sort indicator */
QHeaderView::down-arrow {
    image: url(down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(up_arrow.png);
}
